<template id="lincoln-links">
  <ul class="links"
      :class="[ '-' + mode ]">
    <li class="links-item">
      <a href="" class="links-item-link">
        <h2 class="links-item-link-title">Veniam Anim Legam Dolore</h2>
        <img class="links-item-link-image" src="//source.unsplash.com/random">
      </a>  </li>
    <li class="links-item">
      <a href="" class="links-item-link">
        <h2 class="links-item-link-title">Veniam Anim Legam Dolore</h2>
        <img class="links-item-link-image" src="//source.unsplash.com/random">
      </a>  </li>
    <li class="links-item">
      <a href="" class="links-item-link">
        <h2 class="links-item-link-title">Veniam Anim Legam Dolore</h2>
        <img class="links-item-link-image" src="//source.unsplash.com/random">
      </a>
    </li>
    <li class="links-item">
      <a href="" class="links-item-link">
        <h2 class="links-item-link-title">Veniam Anim Legam Dolore</h2>
        <img class="links-item-link-image" src="//source.unsplash.com/random">
      </a>
    </li>
    <li class="links-item">
      <a href="" class="links-item-link">
        <h2 class="links-item-link-title">Veniam Anim Legam Dolore</h2>
        <img class="links-item-link-image" src="//source.unsplash.com/random">
      </a>  </li>
    <li class="links-item">
      <a href="" class="links-item-link">
        <h2 class="links-item-link-title">Veniam Anim Legam Dolore</h2>
        <img class="links-item-link-image" src="//source.unsplash.com/random">
      </a>  </li>
  </ul>
</template>
