<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ brand.name }}</title>
  {% include('_head.twig') %}
</head>
<body>
  <main id="app">
    {% block body %}{% endblock %}
  </main>
  {% include('comps/_templates.twig') %}
  {% include('_foot.twig') %}
</body>
</html>
