// Define brand colors.
$white: #ffffff;
$gold: #bfae48;
$green: #5fad41;
$turquoise: #2d936c;
$purple: #391463;
$magenta: #3a0842;
$black: #333333;
$grey: #9f9f9f;

// Configure color scheme.

// Text
$text-light: $white;
$text-dark: $black;

// General
$background: $turquoise;
$foreground: $text-light;
$shadow: $magenta;

// Body
$body-background: rgba($white, .5);

// Dialog
$dialog-overlay: rgba($black, .75);
$dialog-background: $white;
$dialog-foreground: $text-dark;

// Gradient
$gradient-start: $turquoise;
$gradient-end: $gold;
$gradient-foreground: $text-light;

// Cards
$card-background: $white;
$card-foreground: $text-dark;
$card-border: $grey;

// Intro
$intro-thumbnail: $white;

// Tabs
$tab-background: $white;
$tab-foreground-active: $text-dark;
$tab-foreground-inactive: $grey;
$tab-border-inactive: $grey;
$tab-border-active: $purple;

// Anchors
$anchor-l-normal: $green;
$anchor-l-hover: darken($green, 50%);
$anchor-d-normal: rgba($white, .8);
$anchor-d-hover: $white;
