// Use dependencies.
@use '@config/vars' as vars;
@use '@config/colors' as colors;
@use '@utils/font' as font;

// Define styles.
.tab {
  $selector: &;
  @include font.text('tab');
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-top: vars.$tab-border solid colors.$tab-border-inactive;
  transition: vars.$transition-all;
  height: vars.$tab-size;
  margin-top: (vars.$tab-border * -1);
  color: colors.$tab-foreground-inactive;
  cursor: pointer;
  &.is-active {
    border-top: vars.$tab-border solid colors.$tab-border-active;
    color: colors.$tab-foreground-active;
  }
  &-icon {
    margin-right: (vars.$rhythm-x / 2);
  }
  &-text {}
}
